<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <script>const refreshPage = () => location.reload()</script>       <!--this is JavaScript code, which can be placed in a <script> tag-->
    </head>
    <body>
    <div>
        <p> Is this thing on? </p>
        <p> No its not... </p>
        <p> Wait yes it is! Ahem </p>
    </div>
        <p>Hello World! Again</p>

    <ul>
                <li>Chinese food</li>
                <li>apples</li>
                <li>tacos</li>
    </ul>
    <ol>       
                <li>chickend</li>
                <li>shrimp</li>
                <li>plums</li>
    </ol>

                <!--This is where your additional code goes comment goes-->
        <button onclick="refreshPage()" style="color: white; background-color:grey">See Changes</button>    <!--this button fires the function defined above-->
    </body>
</html>
