<!DOCTYPE html>
<html>
<head>
    <title>Mini Project</title>
    <link rel="stylesheet" type="text/css" href="/static/styles2.css">
<style>
p {
    font-size: 26px
}
</style>
</head>
<body>
    <h1>Here is the list of emails</h1>
        <p>I hope this  attempt is satisfactory.</p>
        <a class="link" href="https://www.example.com">Learn More</a>
        <a href="https://alta3.com">Contact Us</a>
        <ul>
            <li>suport@alta3.com</li> 
            <li>anyone@email.com </li> 
            <li>vader@deathstar.com</li>
            <li>spock@eneterprise.net </li> 
            <li>profx@xavierinstitute.com</li>
        </ul>
</body>
</html>
