<!DOCTYPE html>
<html>
<head>
    <title>Mini Project</title>
    <link rel ="stylesheet2" href="{{url_for('static', filename='styles2.css') }}">
    <script>const refreshPage = () => location.reload()</script>       <!--this is JavaScript code, which can be placed in a <script> tag-->
    <style>
        li {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Here is the list of emails</h1>
    <div>
        <p>I hope this  attempt is satisfactory.</p>
        <a class="link" href="https://www.example.com">Learn More</a>
        <a href="https://alta3.com">Contact Us</a>
    </div>
    <div class="list_div">
        <ul>
            <li>suport@alta3.com</li> 
            <li>anyone@email.com </li> 
            <li>vader@deathstar.com</li>
            <li>spock@eneterprise.net </li> 
            <li>profx@xavierinstitute.com</li>
        </ul>
    <button onclick="refreshPage()" >See Changes</button>    <!--this button fires the function defined above-->
</body>
</html>
